<header></header>

<main [formGroup]="form" fxLayout="column" fxLayoutGap="16px">

  <div fxFlex>
    <app-cm autofocus formControlName="editor" matInput fxFlex></app-cm>
  </div>

  <div fxFlex fxLayout="row" fxLayoutGap="16px">
    <button fxFlex="120px" mat-button color="primary" (click)="enable()">enable</button>
    <button fxFlex="120px" mat-button color="primary" (click)="disable()">disable</button>
    <button fxFlex="120px" mat-button color="primary" (click)="logValue()">log value</button>
  </div>

</main>

<footer></footer>